<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Add Entry</title>
    <meta name="keywords" content="">
    <meta name="description" content="admin profile view">
    <meta name="author" content="radwa">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="static/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="static/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
</head>

<body>
    <!-- header section start -->
    <div class="header_section">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="col-sm-1">
                <div class="logo"><a href="index.html"><img
                            src="static/images/medical-symbol.png"></a>
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="medicine.html">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="health.html">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- header section end -->
        <!--Form start-->
        <form>
            <div class="form-row col-sm-12">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="Patient">
                    <label class="form-check-label" for="inlineRadio1">Patient </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="Admin">
                    <label class="form-check-label" for="inlineRadio2">Admin </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="Doctor">
                    <label class="form-check-label" for="inlineRadio3">Doctor </label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                        value="Nurse">
                    <label class="form-check-label" for="inlineRadio4">Nurse </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-6">
                    <div class="input-group" id="fnl">
                        <div class="input-group-prepend">
                            <span class="input-group-text form-control">First and last name</span>
                        </div>
                        <input type="text" class="form-control" id="firstN">
                        <input type="text" class="form-control" id="lastN">
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <label for="inputState">Sex</label>
                    <select id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>Female</option>
                        <option>Male</option>
                    </select>
                </div>
                <div class="form-group col-sm-3">
                    <label>SSN</label>
                    <input type="number" class="form-control">
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-sm-2">
                    <label for="input-date">Date of birth</label>
                    <input type="date" class="form-control">
                </div>
                <div class="form-group col-sm-3">
                    <label>Address</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form group col-sm-1">
                    <label class="form-label">Id</label>
                    <input type="number" class="form-control" name="id">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-sm-4">
                    <label>Email</label>
                    <input type="email" class="form-control">
                </div>
                <div class="form group col-sm-3">
                    <label class="form-label">Salary (for staff only)</label>
                    <input type="number" class="form-control" name="Salary">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Entry</button>
        </form>
        <!--Form end-->
    </div>
</body>

</html>