<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Home</title>
   <meta name="keywords" content="">
   <meta name="description" content="home page">
   <meta name="author" content="radwa">
   <!-- bootstrap css -->
   <link rel="stylesheet" href="static/css/bootstrap.min.css">
   <!-- style css -->
   <link rel="stylesheet" href="static/css/style.css">
   <!-- Responsive-->
   <link rel="stylesheet" href="static/css/responsive.css">
   <!-- fevicon -->
   <link rel="icon" href="static/images/fevicon.png" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="static/css/jquery.mCustomScrollbar.min.css">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- owl stylesheets -->
   <link rel="stylesheet" href="static/css/owl.carousel.min.css">
   <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>

<body>
   <!-- header section start -->
   <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="col-sm-1">
            <div class="logo"><a href="http://127.0.0.1:5000/index_admin"><img src="static/images\medical-symbol.png"></a></div>
         </div>
            
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="http://127.0.0.1:5000/index_admin">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:5000/viewDoctors">View Doctors</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:5000/viewNurses">View Nurses</a>
               </li>
               <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/viewPatients">View Patients</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:5000/viewRoom">View Rooms</a>
                 </li>
               <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:5000/contact">Contact Us</a>
               </li>
               
            </ul>
         </div>
      </nav>
      <!-- header section end -->
      <!-- banner section start -->
      <div id="main_slider" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Gynecology<br><span style="color: #151515;">Care</span></h1>
                           <p class="banner_text">Easy access to women's healthcare</p>
                           <div class="btn_main">
                              <div class="more_bt"><a href="http://127.0.0.1:5000/viewNurses">View Nurses</a></div>
                              <div class="contact_bt"><a href="http://127.0.0.1:5000/viewDoctors">View Doctors</a></div>
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="static/images\ribbon.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Reservations, Feedback, And More <br><span style="color: #151515;">All in one place</span></h1>
                           <div class="btn_main">
                              <div class="more_bt"><a href="http://127.0.0.1:5000/viewNurses">View Nurses</a></div>
                              <div class="contact_bt"><a href="http://127.0.0.1:5000/viewDoctors">View Doctors</a></div>
                              
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="static/images\ribbon.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <div class="banner_section">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-6">
                           <h1 class="banner_taital">Women's <br><span style="color: #151515;">Health</span></h1>
                           <p class="banner_text">Help website</p>
                           <div class="btn_main">
                              <div class="more_bt"><a href="http://127.0.0.1:5000/viewNurses">view Nurses</a></div>
                              <div class="contact_bt"><a href="http://127.0.0.1:5000/viewDoctors">view Doctors</a></div>
                              
                           </div>
                        </div>
                        <div class="col-md-6">
                           <div class="image_1"><img src="static\images\ribbon.png"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-long-arrow-left" style="font-size:24px; padding-top: 4px;"></i>
         </a>
         <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-long-arrow-right" style="font-size:24px; padding-top: 4px;"></i>
         </a>
      </div>
   </div>
   <!-- banner section end -->
   
   <!-- Javascript files-->
   <script src="static/js/jquery.min.js"></script>
   <script src="static/js/popper.min.js"></script>
   <script src="static/js/bootstrap.bundle.min.js"></script>
   <script src="static/js/jquery-3.0.0.min.js"></script>
   <script src="static/js/plugin.js"></script>
   <!-- sidebar -->
   <script src="static/js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="static/js/custom.js"></script>
   <!-- javascript -->
   <script src="static/js/owl.carousel.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
</body>

</html>